//--------------------------------------------------------------
//パッケージスクリプトパス
//指定したパッケージスクリプト再生専用になります。
package.script.main = script/ExRumia/ExRumia_Package_Main.txt


//--------------------------------------------------------------
//ウィンドウタイトル
//指定したウィンドウタイトルになります。
window.title = test


//--------------------------------------------------------------
//スクリーンの基本サイズ
//弾幕風の描画領域は通常 640 * 480 ですが、
//640 * 480 以上のサイズを描画領域にしたい場合に指定します。
//通常のスクリプトは640*480を前提としているため、
//専用のパッケージスクリプト再生時にしか指定しない方が良いです。
screen.width=640

